<% include partials/header %>
   
 <div class="container">
     <h1> <%= title %> </h1>
   <div class="row">
      <div class="col-md-2">
          <form action="/save" method="post">
               <input type="text" name="name" placeholder="name">
               <input type="text" name="address" placeholder="address"><br>
               <button type="submit" class="btn btn-success">save</button>
          </form>
      </div>  

      <div class="col-md-5">
          <% for(var i=0; i<item.length; i++){ %>
             <li> <%= "id:" + item[i]._id + " " + item[i].name + " lives in " + item[i].address  %>   </li>
          <% } %>    
      </div>

      <div class="col-md-3">
          <form action="/update" method="post">               
               <input type="text" name="id" placeholder="id">
               <input type="text" name="name" placeholder="name">
               <input type="text" name="address" placeholder="address"><br>
               <button type="submit" class="btn btn-success">update</button>
          </form>
      </div>

       <div class="col-md-2">
          <form action="/delete" method="post">               
               <input type="text" name="id" placeholder="id"><br>
               <button type="submit" class="btn btn-danger">delete</button>
          </form>
      </div>


   </div>
  </div> 

<% include partials/footer %>    
 
